  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l9 s12">
                <h6 class="white-text">Colaborators</h6>
                  <img src="/static/img/logo_lglab.png" width="100">
                  <img src="/static/img/logo_lleidadrone.png" width="100">
                  <img src="/static/img/logo_hemav.png" width="100">
                  <img src="/static/img/logo_catsmartdrones.png" width="100">
                  <img src="/static/img/logo_pcital.png" width="100">

                <p class="grey-text text-lighten-4">There is no better place than localhost.</p>
              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Index</a></li>
                  <li><a class="grey-text text-lighten-3" href="{% url 'races:groundrace' %}">Ground Races</a></li>
                  <li><a class="grey-text text-lighten-3" href="/competitions">Air Competitions</a></li>
                  <li><a class="grey-text text-lighten-3" href="/ibri">IBRI</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>