 {% extends 'base.html' %}

    {% block content %}
    <div class="row">
        <div class="col l6">

            <!--
            <div class="col s12 m6 l6">
                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <div class="col s12">
                    <div class="center promo promo-example">
                        <i class="material-icons" style="color:#1abd00">landscape</i>
                    </div>
                    </div>
                </div>
                <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Ground Races</span>
                    </div>
                    <div class="card-action">
                        <a href="/ground_races">Go to the tool</a>
                    </div>
            </div>

            </div>
            -->
            <div class="col s12 m12 l12">
                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <div class="col s12">
                        <div class="center promo promo-example">
                            <i class="material-icons" style="color:#009dff">cloud</i>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Air Competitions</span>
                    </div>
                    <div class="card-action">
                        <a href="/competitions">Go to the tool</a>
                    </div>
            </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                <div class="col s12">
                    <div class="center promo promo-example">
                        <i class="material-icons" style="color:#ffcc00" >flash_on</i>
                    </div>
                    </div>                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">IDIVT</span>
                    </div>
                    <div class="card-action">
                        <a href="/idivt">Go to the tool</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image">
                      <img src="/static/img/logo_ibri.png">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Project IBRI</span>
                    </div>
                    <div class="card-action">
                        <a href="/ibri">Go to the project!</a>
                    </div>
                </div>
            </div>
        </div>
     <div class="col s6 m6 l6">
        <img src="/static/img/logo_pilt.png" width="100%">
    </div>
    </div>






    {% endblock content %}


