 {% extends 'base.html' %}

    {% block content %}
    <div class="row">
        <div class="col l6">
            <div class="col s12 m6 l6">
                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <div class="col s12">
                    <div class="center promo promo-example">
                        <i class="material-icons">landscape</i>
                    </div>
                    </div>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Ground Races<i class="material-icons right">more_vert</i></span>
                  <p><a href="ground_race">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <div class="col s12">
                        <div class="center promo promo-example">
                            <i class="material-icons">cloud</i>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Air Races<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
<div class="col s12">
                    <div class="center promo promo-example">
                        <i class="material-icons">flash_on</i>
                    </div>
                    </div>                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/static/img/logo_ibri.png">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Project IBRI<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
     <div class="col s6 m6 l6">
        <img src="/static/img/logo_pilt.png" width="100%">
    </div>
    </div>






    {% endblock content %}


