 {% extends 'base.html' %}


{% block content %}

<h1> This is an Air Race!</h1>
        <div class="row">

    {% for race in races %}
            <div class="col s6 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src={{race.imageURL}}>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ race.name }}<i class="material-icons right">more_vert</i></span>

                        <p>This race will start on</p>
                        <p>On the day </p>

                    </div>

                    <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                                <a href="race/edit_race/{{race.pk}}" class=" square btn-floating btn-large waves-effect waves-light blue-grey darken-4" ><i class="material-icons">mode_edit</i></a>
                                <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-4 square" onclick="Materialize.toast('<span>Are you sure?</span><a class=&quot;btn-flat yellow-text&quot; href=/air_races/race/delete_race/{{race.pk}}>Delete<a>', 5000)"><i class="material-icons" >delete</i></a>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'races:air_detail_race' race.pk %}">Go to the race</a>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>


  <a href="race/new" class="btn-floating btn-large waves-effect waves-light green" style="float:right;"><i class="material-icons">add</i></a>


{% endblock %}