{% extends 'base.html' %}



{% block content %}
    <div class="row">
        <!--
        <ul class="collection">
            {% for participant in participants %}
                <li class="collection-item avatar">
                <img src="{{ participant.image }}" alt="" class="circle">
                <span class="title">{{ participant.user.username }}</span>
                </p>
                <a href="{% url 'races:ground_race_send' race.pk participant.pk %}" class="secondary-content"><i class="material-icons">grade</i></a>

                </li>
            {% endfor %}
        </ul>
        -->
        <h1>{{ race.name }}</h1>
        <h2>{{ race.localization_name }}</h2>
        <ul class="collection">
            <li class="collection-item avatar">
              <img src="http://i198.photobucket.com/albums/aa62/Axellover120/pikachu_wallpaper.jpg" alt="" class="circle">
              <span class="title">Participant - PIKACHU</span>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <img src="http://orig01.deviantart.net/c9e0/f/2011/093/d/1/charmander_evo_wallpaper_by_capt2001-d3d4alb.jpg" alt="" class="circle">
              <span class="title">Participant - CHARMANDER</span>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <img src="https://img1.etsystatic.com/065/0/10845602/il_570xN.785921817_rdck.jpg" alt="" class="circle">
              <span class="title">Participant - SQUIRTLE</span>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
            <li class="collection-item avatar">
              <img src="http://i16.photobucket.com/albums/b13/InSenG/Bulbasaur.png" alt="" class="circle">
              <span class="title">Participant - BULBASAUR</span>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>














    </div>







{% endblock %}
